<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="{{ url_for('home_blueprint.index') }}" class="b-brand text-primary">
	<h3 class="text-white">
	  <i data-feather="database"></i>
	  <span> {{ site_name }}</span>
	</h3>
        <!-- ========   Change your logo from here   ============ -->
<!--
    <img src="{{ url_for('static', filename='assets/images/logo-white.svg') }}" class="img-fluid" alt="logo">
    -->
    
      </a>
    </div>
    <div class="navbar-content">

      <ul class="pc-navbar">

        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.index') }}" class="pc-link">
            <span class="pc-micon">
              <i data-feather="home"></i>
            </span>
            <span class="pc-mtext">Dashboard</span>
          </a>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="#!" class="pc-link">
            <span class="pc-micon">
              <i data-feather="table"></i>
            </span>
            <span class="pc-mtext">Tables</span><span class="pc-arrow"><i class="ti ti-chevron-right"></i></span>
          </a>
          <ul class="pc-submenu">
	    {% for link in routes %}
            <li class="pc-item">
		<a class="pc-link" href="{{ url_for('tables_blueprint.model_dt', aPath=link) }}">{{ link }}</a>
	    </li>
            {% endfor %}
          </ul>
        </li>
        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.sample_page') }}" class="pc-link">
            <span class="pc-micon"><i data-feather="sidebar"></i></span>
            <span class="pc-mtext">Page</span>
          </a>
        </li>
        <li class="pc-item">
          <a href="{{ url_for('charts_blueprint.charts') }}" class="pc-link">
            <span class="pc-micon">
              <i data-feather="bar-chart"></i>
            </span>
            <span class="pc-mtext">Charts</span>
          </a>
        </li>   

      </ul>

    </div>
  </div>
</nav>
